{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form method="POST" style="color: rgb(211, 98, 6)">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group pt-4">
                <button class="btn btn-lg" style="background-color:  rgb(211, 98, 6)" type="submit">
                    Login
                </button>
            </div>
        </form>
        <div class="pt-3">
            <small class="text-muted">Need an account? <a class="ml-2" style="color: rgb(211, 98, 6)" href="{% url 'register' %}">Sign up!</a></small>
        </div>
    </div>
{% endblock content %}