{% extends "base.html" %}
{% block content %}

    <style>
        .style {
            background-color: cadetblue;
            color: tomato;
        }

        body {
            margin-top: 5rem;
        }
    </style>

{% for item in menu %}
    <div class="col p-2 d-flex justify-content-center">
        <div class="card" style="width: 90%;">
            <img src="..." class="card-img-top" alt="Food image">
            <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.price }}</p>
            <a href="#" class="btn btn-secondary">Add to cart</a>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock content %}