{% extends "base.html" %}
{% block content %}
    {% for item in menu %}
        <div class="col p-2 d-flex justify-content-center">
            <div class="card" style="width: 90%;">
                <img src="..." class="card-img-top" alt="Food image">
                <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">{{ item.price }}</p>
                <button data-product="{{ item.id }}" data-action="add" class="btn btn-outline-primary update-cart">
                    Add to cart
                </button>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}